<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_all_head_link}">
    <title>My Disk</title>
</head>
<body class="bg-dark">
<div th:replace="~{_navbar}"></div>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-light">404</h1>
        <p class="fs-3"><span class="text-danger ">Opps!</span> <span class="text-light"> Page not found. </span></p>
        <p class="lead text-light">
            The page you’re looking for doesn’t exist.
        </p>
        <a class="btn btn-primary" th:href="@{/}">Go Home</a>
    </div>
</div>

<div th:replace="~{_footer}"></div>
</body>
</html>
