<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Links  -->
    <section class="border-top mt-4">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-graduation me-3"></i>ITIS
                    </h6>
                    <p>
                        Semester work of Alexander Biryukov, a student of the 11-111 group of KFU ITIS
                        Teacher Alexander Andreevich Ferenets
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a class="text-reset" href="https://kpfu.ru/">KPFY</a>
                    </p>
                    <p>
                        <a class="text-reset" href="https://kpfu.ru/itis">ITIS</a>
                    </p>
                    <p>
                        <a class="text-reset" href="https://study.istamendil.info/">Istamendil</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a class="text-reset" th:href="@{/posts}">Posts</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/collections}">Collections</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/files}">Files</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/about}">About</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Kazan, Kremlevskaya str., 35</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        my-disk-feedback@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 7 (843) 206-52-33</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" th:href="@{/}">MyDisk.ru</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->