<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand me-2" th:href="@{/}">
            <img alt="" class="d-inline-block align-top" height="30" src="" th:src="@{/icon/main_icon.png}" width="30">
            My Disk v2
        </a>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-item nav-link" th:href="@{/}"> <i class="fa-sharp fa-solid fa-folder"></i> Collections</a>
                <a class="nav-item nav-link" th:href="@{/}"> <i class="fa-sharp fa-solid fa-file"></i> Files</a>
                <a class="nav-item nav-link" th:href="@{/}"> <i class="fa-sharp fa-solid fa-user-group"></i> Users</a>
                <a class="nav-item nav-link disabled">Disk v3</a>
            </div>

            <div class="d-flex align-items-center" sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-primary px-3 me-2"
                   th:href="@{/login}">
                    Login
                </a>
                <a class="btn btn-primary me-3" th:href="@{/signup}">
                    SIGN UP FOR FREE
                </a>
            </div>

            <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">

                <div class="btn-group">
                    <a class="btn btn-outline-primary" th:href="@{/user/add/file}">
                        <i class="fa-sharp fa-solid fa-circle-up"></i>
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{/user/add/post}">
                        <i class=" fa-solid fa-pen"></i>
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{/user/add/collection}">
                        <i class="fa-sharp fa-solid fa-folder-open"></i> </a>

                </div>

                <a class="btn btn-primary px-3 me-2 ms-2 "
                   th:href="@{/user}">
                    <div class="d-flex">
                        <i class="fa-solid fa-user" style="margin-top: 3px; margin-right: 5px"> </i>
                        <p class="" style="margin-bottom: 0" th:text="${session.get('username') }"></p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</nav>
<!-- Navbar -->
