<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Disk</title>
    <link th:replace="~{_all_head_link}">
</head>
<body class="bg-dark">
<div th:replace="~{_navbar}"></div>

<section class="vh-100 bg-dark">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Log In</h2>

                            <h5 class="text-danger mb-4 " th:if="${param.error!=null}">Incorrect Email or Password</h5>


                            <form action="#" method="post" th:action="@{/login}">
                                <div class="form-outline mb-4">

                                    <input class="form-control form-control-lg" name="email" placeholder="Email"
                                           type="email"/>

                                    <label class="form-label">Your Email</label>
                                </div>

                                <div class="form-outline mb-4">

                                    <input class="form-control form-control-lg" name="password" placeholder="Password"
                                           type="password"/>

                                    <label class="form-label">Password</label>
                                </div>

                                <div class="d-flex justify-content-center mb-4">
                                    <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                            type="submit">
                                        Log in
                                    </button>
                                </div>


                                <div class="d-flex justify-content-center mb-4 .text-light">
                                    <a class="btn btn-dark btn-block btn-lg" th:href="@{/oauth2/authorization/github}">From
                                        GitHub
                                        <i class="fab fa-github"></i></a>

                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don't you have an account yet? <a
                                        class="fw-bold text-body"
                                        th:href="@{/signup}"><u>SignUp
                                    here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{_footer}"></div>
</body>
</html>
