<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_all_head_link}">
    <title>My Disk</title>
</head>
<body class="bg-dark">
<div th:replace="~{_navbar}"></div>
<section class="bg-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/collections}">Collections</a></li>
                        <li aria-current="page" class="breadcrumb-item active" th:text="${collection.title}">Title</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="card m-3" style="width: 18rem;" th:each="file : ${collection.files}">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{file.title}">Card title</h5>
                    <p class="card-text" th:text="*{file.description}">Some quick example text to build on the card
                        title and make up the bulk of the
                        card's content.</p>
                    <a class="btn btn-primary" th:href="@{/file/{id}(id = *{file.id})}">Save</a>
                </div>
            </div>
        </div>
        <a class="btn btn-danger mt-3 me-3" th:href="@{/collection/{id}/delete(id = ${collection.id})}"
           th:if="collection_is_my">Delete</a>
    </div>


</section>
<div th:replace="~{_footer}"></div>
</body>
</html>
